body,html{
    padding: 0;
    margin: 0;
    display: grid;
    background-color: rgb(1, 45, 63)
}
.menu{
    width: 100%;
    height: 50px;
    background-color: rgb(4, 4, 2);
    position: fixed;
    z-index: 100;
}

.main{
    width: 100%;
    margin-top: 8em; 
    display: block; 
}

.hero_image{
    width: 100%;
    height: 100vh;
}

.section_2{
    background-color: rgb(103, 0, 1);
    height: 200px;
    width: 100%;
    padding: 4em;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
}
.left_column{
    background-color: rgb(167, 107, 108);
}
.right_column{
    background-color: rgb(167, 107, 108);
}
.section_3{
    background-color: rgb(96, 102, 110);
    width: 100%;
    padding: 4em;
    display: grid;
    grid-template-columns: .25fr .75fr;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
}
.left_image{
    background-color:  rgb(163, 166, 171);
    height: 200px;
}
.right_textbox{
    background-color: rgb(163, 166, 171);
    height: 200px;
}
.section_4{
    background-color: rgb(84, 44, 59);
    width: 100%;
    padding: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
}
.icon{
    background-color: rgb(156, 133, 141);
    height: 200px;
}
.section_5{
    background-color: rgb(219, 219, 219);
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.text_entry{
    background-color: white;
}
.bottom_menu{
    width: 100%;
    height: 60px;
    background-color: rgb(4, 4, 2);
}
.lefttext_box{
    background-color: rgb(163, 166, 171);
}