body, html{
    padding:1em;
    margin: 0;
    display: grid;
    background-color: white;
}
.main{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
}
.left_menu{
    width:100%;
    display: grid;
    background-color:rgb(192, 151, 204);
}
 .button{
    margin-left: 1em;
    margin-right: 1em;
    height: 20px;
    margin-top: 1em;
    margin-bottom: 1em;   
    background-color: aqua;
 }
.middle_menu{
    width:100%;
    display: grid;
    background-color:rgb(192, 151, 204);
}
.title{
    margin-left: 1em;
    margin-right: 1em;
    height: 20px;
    margin-top: 1em;
    margin-bottom: 1em;   
    background-color:  palevioletred;
 }
.middle_menu_title{
    margin-left: 1em;
    margin-right: 1em;
    height: 20px;
    margin-top: 1em;
    margin-bottom: 1em;   
    background-color: aqua;
 }
.right_menu{
    width:100%;
    height: 100vh;
    display: grid;
    background-color:rgb(192, 151, 204);
}
.right_menu_options{
    margin-left: 1em;
    margin-right: 1em;
    height: 20px;
    margin-top: .5em;
    margin-bottom: .5em;   
    background-color: aqua;
 }
