.topmenu{

}
.leftmenu{
    background-color: rgb(137, 137, 137);
}
.main{
}
.image{
    
    background-color: rgb(255, 222, 213);
}
.description{
    background-color: rgb(255, 222, 213);
}
.title{

}
.icon_grid{
    display: grid;
    padding: 1rem;
    width: 100%; 
    grid-template-columns: 250px 250px;
    grid-template-rows: 150px 150px 150px 150px 150px;
    background-color: rgb(64, 192, 176);
    grid-gap: 1rem;
}
.icon{
background-color: rgb(144, 218, 209);
}


background-color: rgb(167, 6, 106);
background-color: rgb(204, 111, 168);
background-color: rgb(236, 236, 236);
background-color: rgb(244, 244, 244);
background-color: rgb(255, 199, 183);

background-color: rgb(236, 236, 236);

