/*COMPUTER*/
<<<<<<< HEAD
body{
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.logo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: fixed;
    width: 100%;
    text-align: left;
    font-style: italic;
    background-color: white;
    height: 60px;
    top: 0;
    z-index: 100;
}
.menu{
    transform: rotate(270deg);
    position: fixed;
    top: 530px;
    left: 75px;
}
.social_bar{
    position: absolute;
    right: 0;
    top: 530px;
    width: 25px;
    height: 25px;
    margin: auto;
}
img{
    max-width: 100%;
}
.container{
    width: 95%;
    margin: 70px auto auto auto;
}
.hero_spread{
    display: grid;
    height: 870px;
    grid-template-columns: 1fr 1fr;
    background-color: #E2E2E2
}
.hero_spread h2{
    margin: auto 0 0 auto;
    margin-right: auto;
}
.hero_spread p{
    margin: auto auto 0 0;
}
.scroll{
    transform: rotate(270deg);
    position: fixed;
    bottom: 0;
    left: 85ipx;
    z-index: 200;
}
.project_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background: #E8AEAE;
    color: white;
    font-size: 1.5em;
}
h2{
    margin: auto;
    font-size: 100px;
}
h3{
    font-size: 30px;
}
p{
    margin: auto;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
}
.p1{
    font-size: 15px;
}

.singleclass{
    height: 350px;
    position: relative;
}
.singleclass img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}
.singleclass p{
    display: none;
    position: relative;
    z-index: 10;
}
.singleclass h3{
    display: none;
    position: relative;
    z-index: 10;
}
.singleclass:hover p{
    display: block;
}
.singleclass:hover h3{
    display: block;
}
.singleclass:hover img{
    opacity: .5;
}
.footer{
    padding-left: 180px;
    height: 200px;
}
.worktogether{
    width: 100%;
    text-align: left;
}
.frame{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 100;
    background-color: white;
}

.about_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background-color: white;
    color: black;
    font-size: 1.5em;
}
.image1{
    background-image: url("/img/Couple.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 550px;
}
.image2{
    background-image: url("/img/7386181F-F5D6-4254-A6A9-2EE9B9F2C545.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 550px;
}
.about_description{
    padding: 20px;
}
.connect{
    padding: 20px;
}
.social_bar2{
    margin: 10px;
    right: 0;
    top: 530px;
    width: 25px;
    height: 25px;
}
.heroimage{
    width: 100%;
    height: 903px;
}
.heroimage img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.heroimage_2{
    width: 100%;
    height: 640px;
}
.heroimage_2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.description{
    margin: auto;
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 90px;
    padding-bottom: 40px;
}
.title{
    text-align: center;
}
.descriptor{
    width: 75%;
    margin: auto;
    text-align: left;
}
.heroimage_3{
    margin: auto;
    width: 75%;
    height: 400px;
    padding-top: 50px;
    padding-bottom: 40px;
}
.heroimage_3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.heroimage_4{
    margin: auto;
    width: 75%;
    height: 400px;
    padding-top: 50px;
    padding-bottom: 40px;
}
.heroimage_4 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.grid_description{
    margin: auto;
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 40px;
    padding-bottom: 50px;
}
.small_image1{
    margin: auto;
    width: 100%;
    height: 404px;
    padding-bottom: 90px;
}
.small_image1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.small_image2{
    margin: auto;
    width: 100%;
    height: 404px;
}
.small_image2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.description2{
    margin: auto;
}


/*TABLET*/
@media only screen and (min-width: 800px) and (max-width: 1180px){
=======
@media only screen and (min-width: 800px) and (max-width: 3000px){
    body{
        color: black;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .logo{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        font-style: italic;
    }
    .menu{
    
    }
    .none{
>>>>>>> parent of 9748c24... Finished project page and other updates

    }
    .social_bar{
    
    }
    img{
        position: absolute;
        right: 50px;
        width: 20%;
        width: 25px;
        height: 25px;
    }
    .container{
        width: 80%;
    }
    .hero_spread{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #E2E2E2
    }
    .scroll{
        transform: rotate(270deg);
    }
    .project_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        background: #E8AEAE;
        color: black;
        font-size: 1.5em;
    }
    h2{
        font-size: 100px;
    }
    h3{
        font-size: 30px;
    }
    p{
        font-style: italic;
        font-weight: bold;
        font-size: 30px;
    }
    p1{
        font-size: 15px;
    }
    .footer{
    
    }
    .typography{
        background-image: url("/img/IMG_8952.JPG");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 250px;
    }
    .helina{
        background-image: url("img/");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 250px;
    }
    .book{
        background-image: url("img/");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 250px;
    }
    .calendar{
        background-image: url("img/");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 250px;
    }
    .photography{
        background-image: url("/img/Photography.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 250px;
    }
    .about_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        background: #E8AEAE;
        color: black;
        font-size: 1.5em;
    }
    .image1{
        background-image: url("/img/Couple.JPG");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 550px;
    }
    .image2{
        background-image: url("/img/7386181F-F5D6-4254-A6A9-2EE9B9F2C545.JPG");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 550px;
    }
    .about{
        padding: 20px;
    }
    .social_bar2{
        margin: 10px;
    }
}

/*SMARTPHONES*/
@media only screen and (max-width: 800px){

}

/*TABLET*/
@media only screen and (min-width: 800px) and (max-width: 1180px){

}