body{
    background-color: black;
    color: white;
    font-family: helvetica Neue, sans-serif;
    font-weight: 200;
    font-style: normal;
}
.author{
    position: fixed;
    bottom: 10px;
    right: 50px;
    width: 250px;
    text-align: right;
    font-size: 1em;
    font-family: jeanne-moderno, serif;
    font-weight: 400;
    font-style: normal;
}
.title{
    transform-origin: center;
    transform: rotate(-90deg);
    position: absolute;
    top: 250px;
    font-size: 2.5em;
    font-family: jeanne-moderno, serif;
    font-weight: 400;
    font-style: normal;
}
.section1{
    width: 50vw;
    margin: 300px;
    margin-top: -170px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 1.5em;
}
.section2{
    width: 50vw;
    margin: 600px;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: left;
    font-size: 1.5em;
}
.section3{
    width: 50vw;
    margin: 520px;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 1.5em;
}
.section4{
    width: 50vw;
    margin: 650px;
    margin-top: 350px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 1.5em;
    transform-origin: center;
    transform: rotate(90deg);
}
.section5{
    width: 50vw;
    margin: 520px;
    margin-top: 90px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 1.5em;
}
.section6{
    width: 50vw;
    margin: 550px;
    margin-top: 140px;
    margin-bottom: 70px;
    text-align: right;
    font-size: 1.5em;
}
.section7{
    width: 50vw;
    margin: 450px;
    margin-top: 140px;
    text-align: left;
    font-size: 1.5em;
}
.circle1_position1{
    position: relative;
    height: 50px;
    width: 50px;
    background-color: #1289BE;
    opacity: .5;
    border-radius: 50%;
    margin: 100px auto 0px 20px;
}
.circle2_position1{
    height: 150px;
    width: 150px;
    background-color: #6DCB57;
    opacity: .5;
    border-radius: 50%;
    margin: 30px;
    margin-top: -40px;
    margin-bottom: 0px;
}
.circle3_position1{
    height: 20px;
    width: 20px;
    background-color: #000AFA;
    opacity: .5;
    border-radius: 50%;
    margin: 30px;
    margin-top: -40px;
    margin-bottom: 0px;
}
.circle4_position1{
    height: 80px;
    width: 80px;
    background-color: #47D9D9;
    opacity: .5;
    border-radius: 50%;
    margin: 140px;
    margin-top: -70px;
    margin-bottom: 0px;
}
.circle5_position1{
    height: 110px;
    width: 110px;
    background-color: #4336DD;
    opacity: .5;
    border-radius: 50%;
    margin: 160px;
    margin-top: -160px;
    margin-bottom: 0px;
}
.circle1_position2{
    position: relative;
    height: 50px;
    width: 50px;
    background-color: #1289BE;
    opacity: .5;
    border-radius: 50%;
    margin: 250px;
    margin-top: -10px;
    margin-bottom: 0px;
}
.circle2_position2{
    height: 150px;
    width: 150px;
    background-color: #6DCB57;
    opacity: .5;
    border-radius: 50%;
    margin: 270px;
    margin-top: -50px;
    margin-bottom: 0px;
}
.circle3_position2{
    height: 20px;
    width: 20px;
    background-color: #000AFA;
    opacity: .5;
    border-radius: 50%;
    margin: 270px;
    margin-top: -50px;
    margin-bottom: 0px;
}
.circle4_position2{
    height: 80px;
    width: 80px;
    background-color: #47D9D9;
    opacity: .5;
    border-radius: 50%;
    margin: 270px;
    margin-top: -50px;
    margin-bottom: 0px;
}
.circle5_position2{
    height: 110px;
    width: 110px;
    background-color: #4336DD;
    opacity: .5;
    border-radius: 50%;
    margin: 270px;
    margin-top: -50px;
    margin-bottom: 0px;
}
.imagery{
    position: relative;
    top: -110px;
    right: -550px;
    width: 60%;
    height: 400px;
    opacity: unset;
}
/*TABLET*/
@media only screen and (min-width: 800px) and (max-width: 1180px){
    body{
        background-color: black;
        color: white;
        font-family: jeanne-moderno, serif;
        font-weight: 400;
        font-style: normal;
    }
    .title{
        position: fixed;
        top: 10px;
        right: 50px;
        width: 250px;
        font-size: 2.5em;
        transform-origin: center;
        transform: rotate(0deg);
    }
    /* go through each section and resize for tablet*/
    .section1{
        width: 50vw;
        margin: 300px;
        margin-top: 200px;
        margin-bottom: 40px;
        text-align: center;
        font-size: 1.5em;
    }
    .section2{
        width: 50vw;
        margin: 600px;
        margin-top: 10px;
        margin-bottom: 40px;
        text-align: left;
        font-size: 1.5em;
    }
    .section3{
        width: 50vw;
        margin: 520px;
        margin-top: 0px;
        margin-bottom: 10px;
        text-align: left;
        font-size: 1.5em;
    }
    .section4{
        width: 50vw;
        margin: 650px;
        margin-top: 350px;
        margin-bottom: 10px;
        text-align: left;
        font-size: 1.5em;
        transform-origin: center;
        transform: rotate(90deg);
    }
    .section5{
        width: 50vw;
        margin: 600px;
        margin-top: 90px;
        margin-bottom: 20px;
        text-align: left;
        font-size: 1.5em;
    }
    .section6{
        width: 50vw;
        margin: 600px;
        margin-top: 120px;
        margin-bottom: 70px;
        text-align: right;
        font-size: 1.5em;
    }
    .section7{
        width: 50vw;
        margin: 420px;
        margin-top: 170px;
        text-align: left;
        font-size: 1.5em;
    }
}
/*SMARTPHONES*/
@media only screen and (max-width: 800px){
    body{
        background-color: black;
        font-family: jeanne-moderno, serif;
        font-weight: 400px;
        font-style: normal;
    }
}
